
body {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 12px;
    overflow: auto;
}

.cont{
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    /* width: 50%; */
    margin: 25px;
    padding: 25px;
    border: solid black 2pt;
    padding: 12px;
    overflow: auto;

}

img {
    margin: 12px;
}

input {
    margin: 12px;
}


@media screen and ( max-width: 1200px ) {
    img {
        width: 70%;
    }
}